In [1]:
import numpy as np
import pandas as pd
from ase.io import read
from ase.visualize import view
from wrapcube import cleanUp
from ase.data.isotopes import download_isotope_data
from ase.symbols import string2symbols, symbols2numbers
isotopes = download_isotope_data()

In [50]:
#usage guide
#SWCNT=bath('CONTCAR')
#SWCNT.bath_geometry

class bath:
    #fname is file name to read
    #supercell a tuple for repeating unit cell in x,y,z 
    def __init__(self, fname,supercell, r_cutoff=0.0):
        #wrap and center if vacuum exists
        self.atoms=cleanUp(read(fname))*supercell
        #for atom species in atoms get isotope abundance data
        self.spin_table = get_spin_table(self.atoms)
        #randomly generate spin bath geometry based on % abundance
        #df of symbol (~p), x, y, z, isotope (n+p), nuclear_spin (I), distance
        self.bath_geometry= generate_spin_sites(self.atoms,self.spin_table)
        
    #
def get_spin_table(atoms):
#isotope_df=pd.DataFrame({})
    #atoms=self.atoms
    isotope_dfs=[]
    for atom in get_unique_atomic_species(atoms):
        atom_isotope_df=pd.DataFrame(isotopes[atom]).T
        atom_isotope_df['atomic_number']=atom
        atom_isotope_df=atom_isotope_df[atom_isotope_df.composition>0]
        #isotope_df.index.name='num_p+n'
        atom_isotope_df['nuclear_spin']=get_nuclear_spin(atom_isotope_df.index-atom,atom)
        #atom_isotope_df=atom_isotope_df[is_spin_active(atom_isotope_df.nuclear_spin)]
        isotope_dfs.append(atom_isotope_df)
    return pd.concat(isotope_dfs)
def generate_spin_sites(atoms,spin_table):
    #atoms=self.atoms
    #spin_table=self.spin_table
    #make xyz like df
    positions=pd.concat([pd.DataFrame(atoms.get_chemical_symbols(),columns=['symbol']), 
               pd.DataFrame(atoms.get_positions(),columns=['x','y','z'])],
               axis=1)
    spin_active_positions_list=[]
    #loop through elements in atomic positions
    for species in np.unique(positions.symbol):
        #dataframe of positions of the atomic species
        species_positions=positions[positions.symbol==species]
        #get atomic number
        atomic_number=symbols2numbers(species)[0]
        #spin_table of the atomic species
        atom_isotope_df=spin_table[spin_table.atomic_number==atomic_number]
        #create a column in the df of randomly generated numbers from 0 to 1
        species_positions['rand']=np.random.rand(species_positions.shape[0])
        #generate isotope condition
        #this works like this: if X-12, X-13, X-14 has [0.1,0.2,0.7] composition
        #starting with all X-12, we assign isotope with rand>0.1 to X-13, rand>0.3 to X-14 
        isotope_condition=np.cumsum(np.array(atom_isotope_df.composition))
        #initial assignment
        species_positions['isotope']=atom_isotope_df.index[0]
        #in case there's only one isotope then do nothing
        if atom_isotope_df.index.size >1:
            #assign isotope based on abundance condition
            for i in np.arange(1,atom_isotope_df.index.size):
                species_positions.loc[species_positions.rand>isotope_condition[i-1], "isotope"]=atom_isotope_df.index[i]
        species_positions.drop('rand', axis=1, inplace=True)
        #calculate nuclear spin from (p-n)/2
        species_positions['nuclear_spin']=get_nuclear_spin(species_positions.isotope-atomic_number,atomic_number)
        #remove nuclear spin inactive sites
        species_positions=species_positions[is_spin_active(species_positions.nuclear_spin)]
        #find distance from electron spin site (assuming at 0,0,0)
        species_positions['distance']=get_distance_from_point(species_positions[['x','y','z']])
        #remove sites beyond r_cutoff
        species_positions=species_positions[within_r_cutoff(species_positions.distance)]
        spin_active_positions_list.append(species_positions)
    return pd.concat(spin_active_positions_list)


def get_unique_atomic_species(atoms):
    return np.unique(atoms.get_atomic_numbers())
def get_nuclear_spin(num_p,num_n):
    return np.abs((num_n-num_p)/2)
def is_spin_active(nuclear_spin):
    return nuclear_spin!=0
def get_distance_from_point(positions,point=[0,0,0]):
    rel_x=positions.x-point[0]
    rel_y=positions.y-point[1]
    rel_z=positions.z-point[2]
    return np.sqrt(rel_x**2+rel_y**2+rel_z**2)
#r_cutoff in angstrom
def within_r_cutoff(distance,r_cutoff=100):
    return distance <r_cutoff

In [51]:
SWCNT=bath('CONTCAR_NO2',(1,1,3))
SWCNT.bath_geometry

/Users/jingsk/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/jingsk/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/jingsk/miniconda3/lib/python3.7/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)
/Users/jingsk/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

     symbol          x          y          z  isotope  nuclear_spin   distance
45        C  12.327475  13.654918  32.693678       13           0.5  37.513997
61        C  16.291163   9.151313  22.024051       13           0.5  28.882648
90        C  11.449406  13.456084  36.324830       13           0.5  40.393668
108       C  15.645700  12.154567   2.255598       13           0.5  19.940139
181       C  11.564593  13.503750   6.910352       13           0.5  19.074696
281       C  14.756039   6.852488   8.687151       13           0.5  18.443532
480       C  15.510562   7.539178  68.693796       13           0.5  70.825521
513       C  11.209605  13.342853  41.211314       13           0.5  44.744378
564       C   9.117604   8.548149  43.360996       13           0.5  45.126240
632       C  10.710837   6.721969  49.358963       13           0.5  50.953058
674       C   9.433261   7.975854  55.582512       13           0.5  56.938706
700       C  15.430830   7.442769  52.769155       13           0.5  55.480528
719       C  16.066935  11.433199  52.551186       13           0.5  56.129241
933       C  13.605650  13.540563  89.142424       13           0.5  91.185702
989       C  12.553116   6.218110  86.027210       13           0.5  87.160349
992       C  15.036692   7.151059  83.432100       13           0.5  85.077347
1026      C   9.200997  11.448126  94.993380       13           0.5  96.122110
370       H  18.499089   8.080786   0.593935        1           0.5  20.195746
371       H  21.018689   8.068386   0.650984        1           0.5  22.523497
372       H  21.036479  12.171778   1.830583        1           0.5  24.372867
373       H  18.517992  12.216264   1.756429        1           0.5  22.253947
747       H  18.499089   8.080786  41.041984        1           0.5  45.737948
748       H  21.018689   8.068386  41.099033        1           0.5  46.861655
749       H  21.036479  12.171778  42.278632        1           0.5  48.766468
750       H  18.517992  12.216264  42.204478        1           0.5  47.679881
1124      H  18.499089   8.080786  81.490033        1           0.5  83.953207
1125      H  21.018689   8.068386  81.547083        1           0.5  84.597936
1126      H  21.036479  12.171778  82.726682        1           0.5  86.222906
1127      H  18.517992  12.216264  82.652527        1           0.5  85.577996

In [49]:
view(SWCNT.atoms)

In [23]:
atoms=read('CONTCAR_NO2')
atoms*(1,1,3)

Atoms(symbols='C1110H12N3O6', pbc=True, cell=[32.37229826707859, 19.92141431820218, 121.34414775492829])

In [24]:
atoms.positions

array([[11.93580916, 10.69527438,  0.03343286],
       [11.86735095, 10.80433899,  2.47671454],
       [10.87976576, 11.813973  ,  2.40372305],
       ...,
       [18.67744178,  8.89783322, 19.91038783],
       [19.24264933,  7.85066055, 19.59878995],
       [19.24928141,  9.92506751, 20.27216486]])

In [ ]:
atoms*(1, 1, 3)

In [ ]:
2912/8

In [11]:
df=pd.DataFrame([[0,1,2,3],[3,4,5,6]],columns=['x','y','z','dum'])

In [16]:
df[['x','y','z']]

   x  y  z
0  0  1  2
1  3  4  5